/*
    Slideshow Panel Manager

    @author:    Kien Tran (kientran@kientran.com)
    @version:   1.0
    @date:      10 September 2009 

*/


* {
    padding: 0;
    margin: 0;
}

body {
    background: #ccc;
}

#main {
    width: 850px;
    padding-top: 50px;
    margin: auto;
}
#previewpane, #editpanel {
    width: 596px;
}

#editpanel input[type="text"] {
    width:470px;
}

#editpanel label {
    width:100px;
    float:left;
    margin-right: 1em;
    text-align:right;
}

#panelpane {
    width: 200px;
    float: right;
}

#panellist, #editpanel ul {
    list-style: none;
}

#panellist li {
    border:1px solid black;
    padding: 5px;
    cursor: pointer;
}

#panellist li.active_0 {
    background: #FA8072;
}
#panellist li.active_1 {
    background: #98FB98;
}
#prev, #next{
    z-index: 20000; 
    background-image: url('../images/controls.png');
    position: absolute;
    display: none;
    margin: 0;
    top: 50px;
    height: 175px;
    width: 30px;
}

#prev {
    float: left;
    left: 20px;
}

#next {
    float: right;
    right: 20px;
    background-position: 30px 0px;
}

#prev:hover {
    background-position: 0px 175px;
}

#next:hover {
    background-position: 30px 175px;
}

/* the actual container for the slideshow */
#slideshow-box {
    width: 596px;
    min-height: 335px;
    position: relative;
}

#slides {
    width: 596px;
    min-height: 335px;
}

/* Individual slide */
.slide {
    width: 596px;
    height: 335px;
    overflow: hidden;
}

.slide a {
    text-decoration: none;
}
.slide a img {
    border: none;
}

/* slide text */
.slide a .title {
    color: white;
    height:  60px;  /* Height of caption box */
    display:  block;
    font-size: 1.5em;
    text-indent: 8px;
    width:  596px;
    position: relative;
    line-height: 1.7em;
    top: -80px;
    background: transparent url('../images/copybar.png') no-repeat;
}

.slide a .subtitle {
    display: block;
    font-size: .7em;  /* relative to .title */
    line-height: 1em;
}

/* I use a sprite map to handle the gradient bars */
/* Since the whole slide is under the anchor tag
    a:hover works to change the copy bar */


.hover {
    background: transparent url('../images/copybar.png') no-repeat;
    height: 60px;
    display: block;
    position: relative;
    top: -80px;
}

.slide a .purple, .slide a .nohvpurple {
    background-position: 0 -0px;
}
.slide a:hover .purple, .slide a .hvpurple {
    background-position: 0 -60px;
}
.slide a .orange, .slide a .nohvorange {
    background-position: 0 -120px;
}
.slide a:hover .orange, .slide a .hvorange {
	background-position: 0 -180px;
}
.slide a .blue, .slide a .nohvblue {
	background-position: 0 -240px;
}
.slide a:hover .blue, .slide a .hvblue {
	background-position: 0 -300px;
}
.slide a .red, .slide a .nohvred {
	background-position: 0 -360px;
}
.slide a:hover .red, .slide a .hvred {
	background-position: 0 -420px;
}
.slide a .green, .slide a .nohvgreen {
	background-position: 0 -480px;
}
.slide a:hover .green, .slide a .hvgreen {
	background-position: 0 -540px;
}
